body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #b7cfe7, #6488ce, #007bff); /* blue mixed background */
}

.container {
    text-align: center;
}
.name{
    align-items: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.status {
    font-size: 1.2em;
    color: black; /* Dark gray text */
    margin-bottom: 20px;
}

#restart-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    font-size: 1.1em;
}
